<div class="card">
  <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
          <button pButton pRipple label="اضافة" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button> &nbsp;&nbsp;&nbsp;&nbsp;
      </ng-template>

      <ng-template pTemplate="right">
          <button pButton pRipple label="تصدير" icon="pi pi-upload" class="p-button-help"
              (click)="exportExcel()"></button>
      </ng-template>
  </p-toolbar>

  <p-table #dt [value]="Allowances" [rows]="10" [paginator]="true"
      [globalFilterFields]="['name','Allowance.name','Allowance.name','status']" [(selection)]="selectedAllowances"
      [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">ادارة البدلات</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                      placeholder="بحث..." />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="id">الرقم <p-sortIcon field="id"></p-sortIcon>
              </th>
              <th pSortableColumn="name">الاسم <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="name">النوع <p-sortIcon field="name"></p-sortIcon>
              </th>

              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Allowance>
          <tr>
              <td>
                  <p-tableCheckbox [value]="Allowance"></p-tableCheckbox>
              </td>
              <td>{{Allowance.id}}</td>
              <td>{{Allowance.name}}</td>
              <td>{{Allowance.percentage}}</td>
              <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                      (click)="editAllowances(Allowance)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                      (click)="deleteAllowances(Allowance)"></button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              يوجد عدد {{Allowances ? Allowances.length : 0 }} من أنواع البدلات.
          </div>
      </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="AllowancesDialog" [style]="{width: '450px'}" header="بيانات القسم" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="name">الاسم</label>
          <input type="text" pInputText id="name" [(ngModel)]="Allowance.name" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !Allowance.name">Name is required.</small>
      </div>
      <div class="p-field">
        <input type="text" pInputText id="percentage" [(ngModel)]="Allowance.percentage" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !Allowance.percentage">Percentage is required.</small>
  </div>
</ng-template>
  <ng-template pTemplate="footer">
      <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-text"
          (click)="saveAllowances(Allowance)"></button>
      <button pButton pRipple label="الغاء" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  </ng-template>
</p-dialog>



<p-dialog [(visible)]="AllowancesEditDialog" [style]="{width: '450px'}" header="بيانات القسم" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
          <label for="name">الاسم</label>
          <input type="text" pInputText id="name" [(ngModel)]="Allowance.name" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !Allowance.name">Name is required.</small>
      </div>
      <div class="p-field">
        <input type="text" pInputText id="percentage" [(ngModel)]="Allowance.percentage" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !Allowance.percentage">Percentage is required.</small>
  </div>
</ng-template>
  <ng-template pTemplate="footer">
      <button pButton pRipple label="حفظ" icon="pi pi-check" class="p-button-text"
          (click)="editAllowancesD(Allowance)"></button>
      <button pButton pRipple label="الغاء" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
