<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
          <a class="text-500 no-underline line-height-3 cursor-pointer">صرف مرتب</a>
      </li>
      <li class="px-2">
          <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
          <span class="text-900 line-height-2">تفاصيل مرتب  {{PackagePayRoll.name}}</span>
      </li>
  </ul>
</div>


<!-- <p-table   [tableStyle]="{'dir':'rtl', 'border':'1'}">
  <ng-template pTemplate="header">
      <tr>
          <th>الاسم</th>
          <th>القسم / الإدارة</th>
          <th>المرتب</th>
      </tr>
      <tr>
          <td>{{name}}</td>
          <td>{{dept}}</td>
          <td>{{amount}}</td>
      </tr>
      </ng-template>
</p-table> -->


<p-table [value]="PackagePayRolls" [tableStyle]="{'border':'1'}">
  <ng-template pTemplate="header">
      <tr>
        <th style ="width: 20rem;text-align: center;" pSortableColumn="id">الاسم <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">البرنامج <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">المادة <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">الفصل الدراسي <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">فنرة التجزئة <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">الشهر الأول <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">الشهر الثاني <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">الشهر الثالث <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">المبلغ <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">المتبقي <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">الشهر المستلم <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style ="width: 20rem;text-align: center;"  pSortableColumn="name">السنة <p-sortIcon field="name"></p-sortIcon>
        </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let PackagePayRoll>
      <tr style="width: 3rem">
        <td  style="width: 20rem;text-align: center;">{{PackagePayRoll.name}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.program}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.sylbus}}</td>
        <td  style="width: 20rem;text-align: center;">{{PackagePayRoll.semester}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.period}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.firstMonth}}</td>
        <td  style="width: 20rem;text-align: center;">{{PackagePayRoll.secondMonth}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.thirdMonth}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.amount}}</td>
        <td  style="width: 20rem;text-align: center;">{{PackagePayRoll.left}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.payRollMonth}}</td>
        <td  style ="width: 20rem;text-align: center;" >{{PackagePayRoll.payRollYear}}</td>
      </tr>
  </ng-template>
</p-table>

<br><br><br><br><br><br>
<p-button label="   تأكيد الاستلام" icon="pi pi-check" iconPos="right"  [disabled]="Disabled" (onClick)="payRoll(PackagePayRoll)" ></p-button>
&nbsp;
<p-button label="   طباعة الايصال" icon="pi pi-print" iconPos="right" (onClick)="print()"></p-button>
