<div class="surface-section">
    <!-- <img src="assets/logo.jpeg" width="250" /> -->
    <div class="font-medium text-3xl text-900 mb-3">انشاء بيانات موظف إداري جديد</div>

    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">اسم الموظف</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input id="Emp.name" [(ngModel)]="name"
                name="Emp.name" type="text" pInputText class="w-full mb-3">

        </div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">اسم القسم</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <select id="state"  [(ngModel)]="department" Value="department.name" pInputText class="w-full mb-3">
                    <option *ngFor="let department of departments" [ngValue]="department" >
                        {{department.name}}
                    </option>
                </select>
            </div>

        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">عدد سنين الخبرة</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"><input pInputText id="Emp.exp" [(ngModel)]="exp"
                    name="Emp.exp" type="text" pInputText class="w-full mb-3"></div>

        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">عدد سنين الخبرة الداخلية</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"><input id="Emp.internalExp" [(ngModel)]="internalExp"
                    name="Emp.internalExp" type="text" pInputText class="w-full mb-3"></div>

        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">رقم حساب بنك فيصل الإسلامي</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"><input pInputText id="Emp.fib" [(ngModel)]="fib"
                    name="Emp.fib" type="text" pInputText class="w-full mb-3"></div>

        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">رقم حساب بنك الخرطوم</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"><input pInputText id="Emp.bok" [(ngModel)]="bok"
                    name="Emp.bok" type="text" pInputText class="w-full mb-3"></div>

        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">نوع التوظيف</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <select id="state"  [(ngModel)]="type" Value="type" pInputText class="w-full mb-3">
                    <option>
                        عمادة و مدراء إدارات
                    </option>
                    <option>
                        موظفين
                    </option>
                    <option>
                        ملازمين معامل
                    </option>
                    <option>
                        تقنين
                    </option>
                    <option>
                        استقبال و حرس
                    </option>
                </select>
            </div>

        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">تاريخ التعيين</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"><input pInputText id="Emp.recuirtDate" [(ngModel)]="recuirtDate"
                    name="Emp.recuirtmentDate" type="Date" pInputText class="w-full mb-3"></div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">الرقم الوطني</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"><input pInputText id="Emp.natioanlID" [(ngModel)]="natioanlID"
                    name="Emp.recuirtmentDate" type="text" pInputText class="w-full mb-3"></div>
        </li>
    </ul>
    <div class="mt-3 lg:mt-0">
        &nbsp; <button pButton pRipple label="اضافة" icon="pi pi-check" (click)="saveEmp(id,name,department.name,exp,internalExp,fib,bok,recuirtDate,natioanlID,type)"></button>
    </div>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
