
<html>
	<head>
		<meta charset="utf-8">
		<title>سند</title>
		<link rel="text/css" href="/src/app/pages/training-payroll-details/training-invoice/style.css">
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
		<script src="script.js"></script>
	</head>
	<body>
				<img alt="" src="../../../assets/financial.jpg" height="250" width="730">
        <article>
          <th style="color: rgb(0, 0, 0);text-align: center;border: 0; background-color: rgb(255, 255, 255);">مرتبات مدرسي الحزم</th><br>
          <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">التاريخ</th><br>
          <td style="text-align: center;">{{date}}</td>
          <br>
			<table class="inventory">
				<thead>
					<tr>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">اسم الموظف</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">البرنامج</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">الفصل الدراسي</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">المادة</th>
						<br>

						<br>

					</tr>
				</thead><br>
				<tbody>
					<tr>
						<td style="text-align: center;font: bold;"><span data-prefix>{{name}}</span></td>
              <td style="text-align: center;font: bold;"><span data-prefix>{{program}}</span></td>
              <td style="text-align: center;font: bold;"><span data-prefix>{{semester}}</span></td>
              <td style="text-align: center;font: bold;"><span data-prefix>{{sylbus}}</span></td>

					</tr>
				</tbody>
			</table>
      <table class="inventory">
				<thead>
          <tr>
            <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">فترة تجزئة الحزمة</th>
            <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">ابتداءً من شهر</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">السنة</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">الشهر الإستلام الحالي</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;font: bold;"><span data-prefix>{{period}}</span></td>
              <td style="text-align: center;font: bold;"><span data-prefix>{{firstMonth}}</span></td>
              <td style="text-align: center;font: bold;"><span data-prefix>{{payRollYear}}</span></td>
              <td style="text-align: center;font: bold;"><span data-prefix>{{payRollMonth}}</span></td>
            </tr>
          </tbody>
      </table>
      <table class="inventory">
				<thead>
          <tr>
            <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">المبلغ</th>
            <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">المتبقي</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;font: bold;"><span data-prefix>{{amount}} ج. س</span></td>
              <td style="text-align: center;font: bold;"><span data-prefix>{{left}} ج. س</span></td>
            </tr>
          </tbody>
      </table>

      <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">اسم المحاسب</th>
      <td style="text-align: center;font: bold;"><span data-prefix>{{user}}</span></td>
		</article>

    <aside>
			<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">التوقيع</h1>
			<br><br>
            <table class="inventory">
			<tr>
                <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255)">توقيع المحاسب</th>
                <td style="text-align: center;" style="text-align:center;">{{space}}</td>
            </tr>
			<br>
			<br>
            <tr>
                <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">توقيع الموظف</th>
                <td style="text-align: center;" class="sh">{{space}} </td>
            </tr>
			</table>
		</aside>
  </body>
</html>
