
<html>
	<head>
		<meta charset="utf-8">
		<title>سند</title>
		<link rel="text/css" href="/src/app/pages/training-payroll-details/training-invoice/style.css">
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
		<script src="script.js"></script>
	</head>
	<body>
				<img alt="" src="../../../assets/financial.jpg" height="200" width="700">
        <article>
          <th style="color: rgb(0, 0, 0);text-align: center;border: 0; background-color: rgb(255, 255, 255);">{{type}}</th><br>
          <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">التاريخ</th><br>
          <td style="text-align: center;">{{date}}</td>
          <br>
			<table class="inventory">
				<thead>
					<tr>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">اسم الموظف</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">الإدارة</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">السنة</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">الشهر</th>
						<!-- <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">المبلغ</th> -->
					</tr>
				</thead><br>
				<tbody>
					<tr>
						<td style="text-align: center;"><span >{{empName}}</span></td>
						<td style="text-align: center;"><span > {{dept}}</span></td>
						<td style="text-align: center;"><span data-prefix> </span><span >{{year}}</span></td>
						<td style="text-align: center;"><span >{{month}}</span></td>
						<!-- <td style="text-align: center;font: bold;"><span data-prefix>{{primarySalary}} ج. س</span></td> -->
					</tr>
				</tbody>
			</table>
      <table class="inventory">
				<thead>
					<tr>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">{{allowance1}}</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">{{allowance2}}</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">{{allowance3}}</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">{{allowance4}}</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">{{allowance5}}</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">مجموع البدلات المتغيرة</th>
					</tr>
				</thead><br>
				<tbody>
					<tr>
						<td style="text-align: center;"><span >{{allowanceV1}}</span></td>
						<td style="text-align: center;"><span > {{allowanceV2}}</span></td>
						<td style="text-align: center;"><span data-prefix> </span><span >{{allowanceV3}}</span></td>
						<td style="text-align: center;"><span >{{allowanceV4}}</span></td>
						<td style="text-align: center;"><span >{{allowanceV5}}</span></td>
						<td style="text-align: center;"><span >{{variableTax}}</span></td>
						<!-- <td style="text-align: center;font: bold;"><span data-prefix>{{primarySalary}} ج. س</span></td> -->
					</tr>
				</tbody>
			</table>
      <table class="inventory">
				<thead>
					<tr>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">التأمين الإجتماعي 17%</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">الضرائب على البدلات المتغيرة</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">الدمغة على البدلات</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">مجموع الخصومات</th>
					</tr>
				</thead><br>
				<tbody>
					<tr>
						<td style="text-align: center;"><span >{{lastInsurance}}</span></td>
						<td style="text-align: center;"><span > {{taxOnVariableAllowanceResult}}</span></td>
						<td style="text-align: center;"><span data-prefix> </span><span >{{stampSign}}</span></td>
						<td style="text-align: center;"><span >{{discountsSecondTotal}}</span></td>
						<!-- <td style="text-align: center;font: bold;"><span data-prefix>{{primarySalary}} ج. س</span></td> -->
					</tr>
				</tbody>
			</table>
      <table class="inventory">
				<thead>
					<tr>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">السلفيات</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">الغياب و التأخير</th>
						<th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">المجموع</th>
					</tr>
				</thead><br>
				<tbody>
					<tr>
						<td style="text-align: center;"><span >{{advanceTotal}}</span></td>
						<td style="text-align: center;"><span > {{taxAbsenceLastValue}}</span></td>
						<td style="text-align: center;"><span data-prefix> </span><span >{{taxAbsenceLastValue}}</span></td>
					</tr>
				</tbody>
			</table>
      <br>
            <table class="inventory">
              <tr>
                <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255)">صافي الراتب النهائي</th>
                <td style="text-align: center;" style="text-align:center;">{{lastAllTotalRoll}}</td>
            </tr>
            <br>
            <tr>
                <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255)">توقيع المحاسب</th>
                <td style="text-align: center;" style="text-align:center;">{{space}}</td>
            </tr>
            <br>
            <tr>
                <th style="color: rgb(0, 0, 0);text-align: center; background-color: rgb(255, 255, 255);">توقيع الموظف</th>
                <td style="text-align: center;" class="sh">{{space}} </td>
            </tr>
			</table>
		</article>
  </body>
</html>
